# Homework 10:

For questions 1-4 use the orthologs.sqlite database we created in class (include the database in the directory with the homework when returning it to github).

__Exercise 1.__ Create a query that will return the gene name, cai value and sequence for all yeast genes with CAI values larger than 0.85.

In [2]:
import sqlite3 as sql
import pandas as pd
# First connect to database
con = sql.connect("orthologs.sqlite")
# second create a cursor object
cur = con.cursor()

import plotly.graph_objs as go
import plotly.express as px

In [2]:
df = pd.read_sql("SELECT gene_name, CAI, seq FROM CAI, sequences WHERE CAI.title = sequences.gene_name AND CAI.CAI > 0.85", con)
print(df)

   gene_name    CAI                                                seq
0    YAL038W  0.893  ATGTCTAGATTAGAAAGATTGACCTCATTAAACGTTGTTGCTGGTT...
1    YBR118W  0.876  ATGGGTAAAGAGAAGTCTCACATTAACGTTGTCGTTATCGGTCATG...
2    YGL030W  0.865  ATGGCCCCAGTTAAATCCCAAGAATCTATCAACCAAAAGTTGGCTT...
3    YGR192C  0.924  ATGGTTAGAGTTGCTATTAACGGTTTCGGTAGAATCGGTAGATTGG...
4    YGR254W  0.871  ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...
5    YHR174W  0.892  ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...
6    YJL052W  0.856  ATGATCAGAATTGCTATTAACGGTTTCGGTAGAATCGGTAGATTGG...
7    YJL189W  0.915  ATGGCTGCTCAAAAGTCTTTCAGAATCAAGCAAAAAATGGCTAAGG...
8    YJR009C  0.905  ATGGTTAGAGTTGCTATTAACGGTTTCGGTAGAATCGGTAGATTGG...
9    YKL060C  0.869  ATGGGTGTTGAACAAATCTTAAAGAGAAAGACCGGTGTCATCGTTG...
10   YLR044C  0.904  ATGTCTGAAATTACTTTGGGTAAATATTTGTTCGAAAGATTAAAGC...
11   YLR061W  0.859  ATGGCCCCAAACACTTCCAGAAAGCAAAAGATTGCCAAGACCTTTA...
12   YLR110C  0.870  ATGCAATTTTCTACTGTCGCTTCTATCGCCGCTGTCGCCGCTGTCG...
13   YPR043W  0.872  ATGGCTAAAAGAACTAAGAAGGTTGGTATCACTGGTAAGTACGGTG...
14   YPR080W  0.871  ATGGGTAAAGAGAAGTCTCACATTAACGTTGTCGTTATCGGTCATG...

__Exercise 2.__ Modify the query above to return the gene name in yeast, the gene names in the other three species, the cai value and the sequence for all yeat genes with a cai value larger that 0.8 and that have orthologs in the other three species.

In [10]:
pd.read_sql("SELECT gene_name, mikatae, paradoxus, bayanus, CAI, seq FROM CAI inner join sequences on CAI.title = sequences.gene_name inner join orthologs on CAI.title = orthologs.cerevisiae WHERE CAI.CAI > 0.8", con)

,gene_name,mikatae,paradoxus,bayanus,CAI,seq
0,YAL038W,133,366,146,0.893,ATGTCTAGATTAGAAAGATTGACCTCATTAAACGTTGTTGCTGGTT...
1,YBR181C,575,1733,1653,0.846,ATGAAGTTGAACATTTCTTACCCAGTCAACGGGTCTCAAAAGACCT...
2,YCR012W,2014,2464,2653,0.815,ATGTCTTTATCTTCAAAGTTGTCTGTCCAAGATTTGGACTTGAAGG...
3,YCR031C,1948,2539,2721,0.805,ATGTCTAACGTTGTTCAAGCTCGTGACAATTCCCAAGTTTTTGGTG...
4,YEL034W,5747,5869,6110,0.814,ATGTCTGACGAAGAACATACCTTTGAAACTGCTGACGCTGGTTCCT...
5,YGL123W,8023,8791,8164,0.801,ATGTCTGCTCCAGAAGCTCAACAACAAAAGAGAGGTGGTTTCGGTG...
6,YGL135W,8073,8842,8219,0.832,ATGTCTAAGATCACCTCTTCTCAAGTCAGAGAACACGTCAAGGAAT...
7,YGR254W,9167,9320,9559,0.871,ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...
8,YHL015W,9576,10453,23293,0.827,ATGTCTGACTTTCAAAAGGAAAAGGTTGAAGAACAAGAACAACAAC...
9,YHL033C,9483,10537,10119,0.842,ATGGCCCCAGGTAAGAAAGTCGCTCCAGCTCCATTCGGTGCTAAGT...
10,YHR174W,10272,9737,10953,0.892,ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...
11,YJL052W,12006,11467,7692,0.856,ATGATCAGAATTGCTATTAACGGTTTCGGTAGAATCGGTAGATTGG...
12,YJL190C,11505,12007,12309,0.812,ATGACCAGATCTTCCGTTTTAGCTGATGCTTTGAATGCCATTAACA...
13,YJR123W,12651,12748,13807,0.838,ATGTCTGACACCGAAGCTCCAGTTGAAGTTCAAGAAGATTTCGAAG...
14,YKL060C,13447,13709,14543,0.869,ATGGGTGTTGAACAAATCTTAAAGAGAAAGACCGGTGTCATCGTTG...
15,YKL152C,13136,14038,14168,0.811,ATGCCAAAGTTAGTTTTAGTTAGACACGGTCAATCCGAATGGAACG...
16,YLR355C,15884,15522,16470,0.802,ATGTTGAGAACTCAAGCCGCCAGATTGATCTGCAACTCCCGTGTCA...
17,YML024W,16317,17429,17865,0.810,ATGGGTAGAGTTAGAACCAAGACCGTCAAGCGTGCTTCTAAGGCTT...
18,YOL039W,19423,20163,22682,0.804,ATGAAGTACTTAGCTGCTTACCTATTATTGAACGCTGCTGGTAACA...
19,YOL086C,19645,19978,22315,0.811,ATGTCTATCCCAGAAACTCAAAAAGGTGTTATCTTCTACGAATCCC...
20,YOL120C,19772,19865,22100,0.812,ATGGGTATCGATCACACTTCCAAGCAACACAAGAGATCTGGTCACA...
21,YOR063W,19967,20560,22996,0.830,ATGTCTCACAGAAAGTACGAAGCACCACGTCACGGTCATTTAGGTT...
22,YOR369C,20601,21712,24125,0.844,ATGTCTGACGTTGAAGAAGTCGTTGAAGTTCAAGAAGAAACTGTTG...
23,YPL090C,21951,22560,25232,0.837,ATGAAGTTGAACATTTCTTACCCAGTTAACGGGTCTCAAAAGACCT...
24,YPL131W,21794,22413,25389,0.830,ATGGCTTTCCAAAAAGACGCTAAGTCCTCTGCTTACTCCTCTCGTT...
25,YPL220W,21446,22041,24818,0.821,ATGTCCAAGATCACTTCTTCTCAAGTCAGAGAACACGTCAAGGAAT...
26,YPR080W,22559,23137,25835,0.871,ATGGGTAAAGAGAAGTCTCACATTAACGTTGTCGTTATCGGTCATG...

__Exercise 3.__ Perform the same query as above, but this time include the chromosome number of the gene in the output.

In [11]:
# pd.read_sql("SELECT gene_name, mikatae, paradoxus, bayanus, CAI, seq, chrom FROM CAI, sequences, orthologs, gff WHERE CAI.title = sequences.gene_name AND CAI.title = gff.acc AND CAI.CAI > 0.8", con)


pd.read_sql("SELECT gene_name, mikatae, paradoxus, bayanus, CAI, seq, chrom FROM CAI inner join sequences on CAI.title = sequences.gene_name inner join orthologs on CAI.title = orthologs.cerevisiae inner join gff on CAI.title = gff.acc WHERE CAI.CAI > 0.8", con)

,gene_name,mikatae,paradoxus,bayanus,CAI,seq,chrom
0,YAL038W,133,366,146,0.893,ATGTCTAGATTAGAAAGATTGACCTCATTAAACGTTGTTGCTGGTT...,chrI
1,YBR181C,575,1733,1653,0.846,ATGAAGTTGAACATTTCTTACCCAGTCAACGGGTCTCAAAAGACCT...,chrII
2,YCR012W,2014,2464,2653,0.815,ATGTCTTTATCTTCAAAGTTGTCTGTCCAAGATTTGGACTTGAAGG...,chrIII
3,YCR031C,1948,2539,2721,0.805,ATGTCTAACGTTGTTCAAGCTCGTGACAATTCCCAAGTTTTTGGTG...,chrIII
4,YEL034W,5747,5869,6110,0.814,ATGTCTGACGAAGAACATACCTTTGAAACTGCTGACGCTGGTTCCT...,chrV
5,YGL123W,8023,8791,8164,0.801,ATGTCTGCTCCAGAAGCTCAACAACAAAAGAGAGGTGGTTTCGGTG...,chrVII
6,YGL135W,8073,8842,8219,0.832,ATGTCTAAGATCACCTCTTCTCAAGTCAGAGAACACGTCAAGGAAT...,chrVII
7,YGR254W,9167,9320,9559,0.871,ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...,chrVII
8,YHL015W,9576,10453,23293,0.827,ATGTCTGACTTTCAAAAGGAAAAGGTTGAAGAACAAGAACAACAAC...,chrVIII
9,YHL033C,9483,10537,10119,0.842,ATGGCCCCAGGTAAGAAAGTCGCTCCAGCTCCATTCGGTGCTAAGT...,chrVIII
10,YHR174W,10272,9737,10953,0.892,ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...,chrVIII
11,YJL052W,12006,11467,7692,0.856,ATGATCAGAATTGCTATTAACGGTTTCGGTAGAATCGGTAGATTGG...,chrX
12,YJL190C,11505,12007,12309,0.812,ATGACCAGATCTTCCGTTTTAGCTGATGCTTTGAATGCCATTAACA...,chrX
13,YJR123W,12651,12748,13807,0.838,ATGTCTGACACCGAAGCTCCAGTTGAAGTTCAAGAAGATTTCGAAG...,chrX
14,YKL060C,13447,13709,14543,0.869,ATGGGTGTTGAACAAATCTTAAAGAGAAAGACCGGTGTCATCGTTG...,chrXI
15,YKL152C,13136,14038,14168,0.811,ATGCCAAAGTTAGTTTTAGTTAGACACGGTCAATCCGAATGGAACG...,chrXI
16,YLR355C,15884,15522,16470,0.802,ATGTTGAGAACTCAAGCCGCCAGATTGATCTGCAACTCCCGTGTCA...,chrXII
17,YML024W,16317,17429,17865,0.810,ATGGGTAGAGTTAGAACCAAGACCGTCAAGCGTGCTTCTAAGGCTT...,chrXIII
18,YOL039W,19423,20163,22682,0.804,ATGAAGTACTTAGCTGCTTACCTATTATTGAACGCTGCTGGTAACA...,chrXV
19,YOL086C,19645,19978,22315,0.811,ATGTCTATCCCAGAAACTCAAAAAGGTGTTATCTTCTACGAATCCC...,chrXV
20,YOL120C,19772,19865,22100,0.812,ATGGGTATCGATCACACTTCCAAGCAACACAAGAGATCTGGTCACA...,chrXV
21,YOR063W,19967,20560,22996,0.830,ATGTCTCACAGAAAGTACGAAGCACCACGTCACGGTCATTTAGGTT...,chrXV
22,YOR369C,20601,21712,24125,0.844,ATGTCTGACGTTGAAGAAGTCGTTGAAGTTCAAGAAGAAACTGTTG...,chrXV
23,YPL090C,21951,22560,25232,0.837,ATGAAGTTGAACATTTCTTACCCAGTTAACGGGTCTCAAAAGACCT...,chrXVI
24,YPL131W,21794,22413,25389,0.830,ATGGCTTTCCAAAAAGACGCTAAGTCCTCTGCTTACTCCTCTCGTT...,chrXVI
25,YPL220W,21446,22041,24818,0.821,ATGTCCAAGATCACTTCTTCTCAAGTCAGAGAACACGTCAAGGAAT...,chrXVI
26,YPR080W,22559,23137,25835,0.871,ATGGGTAAAGAGAAGTCTCACATTAACGTTGTCGTTATCGGTCATG...,chrXVI

__Exercise 4.__ Now generate a table with the number of genes per chromosome that have CAI larger than 0.5 and have orthologs in the other three yeast species.

In [30]:
pd.read_sql("SELECT chrom, COUNT(chrom) FROM CAI, orthologs, gff WHERE gff.acc = orthologs.cerevisiae AND CAI.title = gff.acc AND CAI.CAI > 0.5 GROUP BY gff.chrom", con)

__Exercise 5:__ Use the yeast genome gff file that we downloaded in class.

Read about the gff format and write a script that will create a database table with all the yeast genes and chromosomes. GFF files have all the annotation for a genome. For simplicity in our table we are only interested in the lines of the GFF files that give the coordinates of the chromosomes, genes, and tRNA genes. Your table should have the following columns: `ID number, Chromosome number, Start Position, End Position, Strand, Feature, Description`.

All this information should be readily available from the gff file, with the exception of the ID number, which is given as the "ID" in the last column, and you will have to process it a little bit. Again, only include in your table the yeast protein coding genes, tRNA coding genes, and chromosomes. Your final table should have one row per gene for a total of 6,923 rows.

Note that the description of several genes, and even some gene names contain special HTML characters, like %20. To convert these to text you should use the `unquote()` function of the `urllib` package. Do that before trying to use your regular expressions.

In [42]:

import pandas as pd
import urllib.parse
import re

column_names = ['name', 'source', 'type', 'start', 'end', 'score', 'strand', 'frame', 'attribute']

gff_df = pd.read_csv('S288C_reference_genome_R64-3-1_20210421/saccharomyces_cerevisiae_R64-3-1_20210421.gff.gz', sep='\t', comment='#', names=column_names)

filtered_df = gff_df[gff_df['type'].isin(['gene', 'tRNA', 'chromosome'])]
filtered_df['attribute'] = filtered_df['attribute'].apply(urllib.parse.unquote)
filtered_df['ID'] = filtered_df['attribute'].str.extract('ID=([^;]+)')

def clean_dis(s):
    match = re.search(r'.*(Name|ID|Alias)=[^;]*;(.*?)$', s, re.IGNORECASE)
    if match:
        return match.group(2)
    return s

filtered_df['Description'] = filtered_df['attribute'].apply(clean_dis)

filtered_df = filtered_df[['ID', 'name', 'start', 'end', 'strand', 'frame', 'Description']]
filtered_df = filtered_df.rename(columns={
    'ID': 'ID number',
    'name': 'Chromosome number',
    'start': 'Start Position',
    'end': 'End Position',
    'strand': 'Strand',
    'frame': 'Feature',
    'Description': 'Description'
})

filtered_df

/var/folders/tn/xcyq0hhx4f3dbzngw366hmgm0000gn/T/ipykernel_86096/4118821770.py:9: DtypeWarning: Columns (1,2,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  gff_df = pd.read_csv('S288C_reference_genome_R64-3-1_20210421/saccharomyces_cerevisiae_R64-3-1_20210421.gff.gz', sep='\t', comment='#', names=column_names)
/var/folders/tn/xcyq0hhx4f3dbzngw366hmgm0000gn/T/ipykernel_86096/4118821770.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['attribute'] = filtered_df['attribute'].apply(urllib.parse.unquote)
/var/folders/tn/xcyq0hhx4f3dbzngw366hmgm0000gn/T/ipykernel_86096/4118821770.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['ID'] = filtered_df['attribute'].str.extract('ID=([^;]+)')
/var/folders/tn/xcyq0hhx4f3dbzngw366hmgm0000gn/T/ipykernel_86096/4118821770.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Description'] = filtered_df['attribute'].apply(clean_dis)

,ID number,Chromosome number,Start Position,End Position,Strand,Feature,Description
0,chrI,chrI,1.0,230218.0,.,.,dbxref=NCBI:BK006935.2;Name=chrI
6,YAL069W,chrI,335.0,649.0,+,.,"Ontology_term=GO:0003674,GO:0005575,GO:0008150..."
9,YAL068W-A,chrI,538.0,792.0,+,.,"Ontology_term=GO:0003674,GO:0005575,GO:0008150..."
13,YAL068C,chrI,1807.0,2169.0,-,.,"Ontology_term=GO:0003674,GO:0005575,GO:0030437..."
16,YAL067W-A,chrI,2480.0,2707.0,+,.,"Ontology_term=GO:0003674,GO:0005575,GO:0008150..."
...,...,...,...,...,...,...,...
28369,YNCQ0024C_tRNA,chrmt,78089.0,78162.0,-,.,Parent=YNCQ0024C
28372,YNCQ0025W_tRNA,chrmt,78533.0,78608.0,+,.,Parent=YNCQ0025W
28373,Q0275,chrmt,79213.0,80022.0,+,.,"Ontology_term=GO:0004129,GO:0004129,GO:0005739..."
28379,YNCQ0026W_tRNA,chrmt,85035.0,85112.0,+,.,Parent=YNCQ0026W
28383,Q0297,chrmt,85554.0,85709.0,+,.,"Ontology_term=GO:0003674,GO:0005575,GO:0008150..."